/*
----------
UI KIT
----------
*/

$topic: #222;
$bg: #efefef;

$nav-bg: #333;
$nav-color: #fff;

$divider: #DCCFC1;
$panel-divider: #6A6A69;
$ni-color: #6a6a69;

$intro-panel-bg: rgba(255,255,255,.5);
$intro-panel-border: rgba(255,255,255,1);

$gameinfo-nav-color: rgba(255,255,255,.5);
$gameinfo-nav-color-active: rgba(255,255,255,1);
$gameinfo-nav-bg: #742E25;
$gameinfo-nav-bg-active: #DD2825;

$frame-inner: #694933;
$frame-outer: #946747;

$suge-bg:#742E25;
$suge-color: #fff;
$sug-divi-sm: #AFA86D;
$f-links-bg: #B4A88F;