<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>《艾肯娛樂》光明勇士</title>
    <!--google plus info-->
    <meta itemprop="name" content="《艾肯娛樂》光明勇士">
    <meta itemprop="image" content="http://event.icantw.com/ck/event/lumiasaga-official-site/img/1200x628.jpg">
    <meta name="description" content="Q萌搞怪 3D MMORPG" />
    <!--FB info-->
    <meta property="og:title" content="《艾肯娛樂》光明勇士" />
    <meta property="og:site_name" content="iCan艾肯娛樂" />
    <meta property="og:url" content="http://event.icantw.com/ck/event/lumiasaga-official-site">
    <meta property="og:image" content="http://event.icantw.com/ck/event/lumiasaga-official-site/img/1200x628.jpg">
    <meta property="og:description" content="Q萌搞怪 3D MMORPG">
    <meta property="og:type" content="website" />
    <!--Icon-->
    <link rel="icon" href="//www.icantw.com/favicon.ico" type="image/x-icon" />
    <!--CSS-->
    <link rel="stylesheet" href="//event.icantw.com/art/css/animate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/rwd.css">
</head>

<body>
    <a class="goTop" href="#top">
        <img src="img/btn_goTop.png" alt="">
    </a>
    <div id="app">
        <!-- nav-bar -->
        <nav>
            <!-- Web -->
            <div class="logo-links-wrapper">
                <div class="logo-ham-wrap">
                    <!-- logo -->
                    <a href="http://event.icantw.com/ck/event/lumiasaga-official-site/index.html">
                        <div class="logo">
                            <div class="logo-img">
                                <img src="img/logo.svg" alt="">
                            </div>
                        </div>
                    </a>
                    <!-- Mobile-ham -->
                    <a href="#!" @click="navOpen">
                        <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="48" onclick="this.classList.toggle('active')">
                            <path class="line top"
                                d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
                            <path class="line middle" d="m 30,50 h 40" />
                            <path class="line bottom"
                                d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
                        </svg>
                    </a>
                </div>
                <!-- nav-links -->
                <div class="nav-links">
                    <a href='http://www.icantw.com/' title='艾肯平台' target='_blank'>
                        <div class="link ic-wrap">
                            <i class="fas fa-home"></i>
                            <span>艾肯平台</span>
                        </div>
                    </a>
                    <a href='https://www.facebook.com/icantw/' title='粉絲團' target='_blank'>

                        <div class="link ic-wrap">
                            <i class="fab fa-facebook"></i>
                            <span>臉書粉絲團</span>
                        </div>
                    </a>
                    <a href='https://passport.icantw.com/payment' title='網頁儲值' target='_blank'>

                        <div class="link ic-wrap">
                            <i class="fas fa-donate"></i>
                            <span>前往儲值</span>
                        </div>
                    </a>
                </div>
            </div>
        </nav>

        <!-- kv -->
        <section id="stage">
            <div class="kv-img">
                <img src="img/kv.jpg" alt="" class="kv">
                <img src="img/m-kv.jpg" alt="" class="m-kv">

                <div class="dl-section">
                    <div class="inner-wrapper">
                        <div class="glogo  wow fadeInUp">
                            <img src="img/logo.png" alt="">
                        </div>
                        <div class="m-icons">
                            <a href=""><img src="img/Google play.png" alt="" class="google"></a>
                            <a href=""><img src="img/APK.png" alt="" class="apk"></a>
                            <a href=""><img src="img/APP.png" alt="" class="ios"></a>
                            <a href=""><img src="img/PC.png" alt="" class="pc"></a>
                        </div>
                        <div class="icons wow fadeInRight">
                            <img src="img/icon.png" alt="" class="gicon">
                            <img src="img/qr.png" alt="" class="qr">
                            <a href=""><img src="img/Google play.png" alt="" class="google"></a>
                            <a href=""><img src="img/APK.png" alt="" class="apk"></a>
                            <a href=""><img src="img/APP.png" alt="" class="ios"></a>
                            <a href=""><img src="img/PC.png" alt="" class="pc"></a>
                            <a href=""><img src="img/closet.png" alt="" class="closet"></a>
                        </div>
                        <div class="m-closet">
                            <a href=""><img src="img/m-closet.png" alt="" class=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--其他連結-->
        <div class="fixed-link">
            <a href="index.html"><img src="img/ic_home.png" alt="回首頁"> <span class="fla">回到首頁</span> </a>
            <a href="https://www.facebook.com/icantw.GMYS"><img src="img/ic_tb.png" alt="新手禮包"> <span class="fla">臉書粉絲團</span> </a>
            <a href="//kf.icantw.com/custom/index"><img src="img/ic_service.png" alt="客服中心"> <span class="fla">客服中心</span> </a>
            <a href="https://app.mycard520.com.tw/icanweb/"><img src="img/ic_charge.png" alt="儲值教學"> <span class="fla">儲值教學</span> </a>
            </a>
            <a href="http://passport.icantw.com/messages/system" target="_blank"><img src="img/ic_sysinfo.png" alt="系統訊息"> <span class="fla">系統訊息</span> </a>
        </div>
        <!-- bn -->
        <section id="bn">
            <div class="bn-carousel owl-carousel owl-theme">
                <div class="item">
                    <a href="#!">
                        <span class="item-img">
                            <img src="img/banner.jpg" alt=""></span>
                    </a>
                </div>
                <div class="item">
                    <a href="#!">
                        <span class="item-img">
                            <img src="img/banner.jpg" alt=""></span>
                    </a>
                </div>
                <div class="item">
                    <a href="#!">
                        <span class="item-img">
                            <img src="img/banner.jpg" alt=""></span>
                    </a>
                </div>
                <div class="item">
                    <a href="#!">
                        <span class="item-img">
                            <img src="img/banner.jpg" alt=""></span>
                    </a>
                </div>
            </div>
            <div class="m-bn">
                <div class="item">
                    <a href="#!">
                        <img src="img/banner.jpg" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="#!">
                        <img src="img/banner.jpg" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="#!">
                        <img src="img/banner.jpg" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="#!">
                        <img src="img/banner.jpg" alt="">
                    </a>
                </div>
            </div>
        </section>

        <!-- news -->
        <section id="newsSection">
            <img src="img/news_dec001.png" alt="" class="news-dec wow fadeInRight">
            <img src="img/bird.png" alt="" class="news-dec news-dec002 wow fadeInLeft">
            <div class="container">
                <!-- <img src="img/paper.png" alt="" class="paper"> -->
                <!-- <img src="img/paper_m.png" alt="" class="paper"> -->
                <div class="tc-wrapper">
                    <div class="for-bg">
                        <div class="z-c">
                            <div class="news-title-wrapper">
                                <div class="news-title-img">
                                    <img src="img/news_title.png" alt="">
                                </div>
                            </div>
                            <div class="nav-tabs">
                                <a href="#!" @click="tcShow = 'hot'">
                                    <div class="tab-link">
                                        <img src="img/hot.png" alt="">
                                    </div>
                                </a>
                                <a href="#!" @click="tcShow = 'news'">
                                    <div class="tab-link">
                                        <img src="img/news.png" alt="">
                                    </div>
                                </a>
                                <a href="#!" @click="tcShow = 'act'">
                                    <div class="tab-link">
                                        <img src="img/act.png" alt="">
                                    </div>
                                </a>
                                <a href="#!" @click="tcShow = 'sys'">
                                    <div class="tab-link">
                                        <img src="img/sys.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="nav-content" id="hot" v-show="tcShow == 'hot'">
                                <ul>
                                    <div class="divider"></div>
                                    <li class="nav-item" v-for="ns in nss" v-if="ns.popu >= 100">
                                        <div class="ni-wrap">
                                            <a href="http://event.icantw.com/ck/event/lumiasaga-official-site/news.html" target="_blank">
                                                <span class="ni-tag"><img :src="ns.typeName" alt=""></span>
                                                <span class="ni-time">{{ns.time}}</span>
                                                <span class="ni-title">{{ns.title}}</span>
                                            </a>
                                        </div>
                                        <div class="divider"></div>
                                    </li>
                                </ul>
                                <div class="navigation">
                                    <ul>
                                        <a href="#!" class="prv"><img src="img/pg_prev.png" alt=""></a>
                                        <a href="#!">
                                            <li class="num">1</li>
                                        </a>
                                        <a href="#!">
                                            <li class="num">2</li>
                                        </a>
                                        <a href="#!">
                                            <li class="num">3</li>
                                        </a>
                                        <a href="#!">
                                            <li class="num">4</li>
                                        </a>
                                        <a href="#!">
                                            <li class="num">5</li>
                                        </a>
                                        <a href="#!" class="nxt"><img src="img/pg_nxt.png" alt=""></a>
                                    </ul>
                                </div>
                            </div>

                            <div class="nav-content" v-for="tc in tcs" :id="tc.type" v-show="tcShow == tc.type">
                                <ul>
                                    <li class="nav-item" v-for="ns in nss" v-if="ns.type == tc.type">
                                        <div class="ni-wrap">
                                            <a href="#!">
                                                <span class="ni-tag"><img :src="ns.typeName" alt=""></span>
                                                <span class="ni-title">{{ns.title}}</span>
                                                <span class="ni-time">{{ns.time}}</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                <div class="navigation">
                                    <ul>
                                        <a href="#!" class="prv"><img src="img/pg_prev.png" alt=""></a>
                                        <a href="#!">
                                            <li class="num">1</li>
                                        </a>
                                        <a href="#!">
                                            <li class="num">2</li>
                                        </a>
                                        <a href="#!">
                                            <li class="num">3</li>
                                        </a>
                                        <a href="#!">
                                            <li class="num">4</li>
                                        </a>
                                        <a href="#!">
                                            <li class="num">5</li>
                                        </a>
                                        <a href="#!" class="nxt"><img src="img/pg_nxt.png" alt=""></a>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- intro -->
        <section id="intro">
            <div class="intro-title">
                <img src="img/intro_title.png" alt="">
            </div>
            <div class="crr-wrapper">
                <div class="crr-content">
                    <div class="crr-item" v-for="crr in crrs" v-if="crrShow == crr.type">
                        <div class="crr-item-wrap">
                            <div class="charac" :class="crr.type">
                                <div class="charac-img">
                                    <img :src="crr.img" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-for="crr in crrs" v-show="crrShow == crr.type" class="intro-panel" :class="crr.type">
                    <div class="panel-wrap">
                        <div class="title crr">
                            <img :src="crr.titleImage" alt="">
                        </div>
                        <div class="divider"></div>
                        <div class="intro">
                            {{crr.intro}}
                        </div>
                        <div class="rank">
                            <div class="title">
                                <div class="ic-wrap">
                                    <img src="img/att.png" alt="" class="st">
                                    <div class="star-wrap">
                                        <img src="img/star.svg" alt="">
                                        <img src="img/star.svg" alt="">
                                        <img src="img/star.svg" alt="">
                                    </div>
                                </div>
                                <div class="ic-wrap">
                                    <img src="img/ser.png" alt="" class="st">
                                    <div class="star-wrap">
                                        <img src="img/star.svg" alt="">
                                        <img src="img/star.svg" alt="">
                                        <img src="img/star.svg" alt="">
                                    </div>
                                </div>
                                <div class="ic-wrap">
                                    <img src="img/op.png" alt="" class="st">
                                    <div class="star-wrap">
                                        <img src="img/star.svg" alt="">
                                        <img src="img/star.svg" alt="">
                                        <img src="img/star.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="crr-nav-tab">
                    <a href="#!" @click="changeCRR" data-to="knight">
                        <div class="tab-link">
                            <img src="img/Knight_btn.png" alt="" class="knight-btn">
                            <img src="img/Knight_btn_active.png" alt="" class="knight-btn-active active">
                        </div>
                    </a>
                    <a href="#!" @click="changeCRR" data-to="archer">
                        <div class="tab-link archer">
                            <img src="img/Archer_btn.png" alt="" class="knight-btn">
                            <img src="img/Archer_btn_active.png" alt="" class="knight-btn-active">
                        </div>
                    </a>
                    <a href="#!" @click="changeCRR" data-to="mage">
                        <div class="tab-link mage">
                            <img src="img/Mage_btn.png" alt="" class="knight-btn">
                            <img src="img/Mage_btn_active.png" alt="" class="knight-btn-active">
                        </div>
                    </a>
                    <a href="#!" @click="changeCRR" data-to="god">
                        <div class="tab-link god">
                            <img src="img/Priest_btn.png" alt="" class="knight-btn">
                            <img src="img/Priest_btn_active.png" alt="" class="knight-btn-active">
                        </div>
                    </a>
                    <a href="#!" @click="changeCRR" data-to="judge">
                        <div class="tab-link judge">
                            <img src="img/Judge_btn.png" alt="" class="knight-btn">
                            <img src="img/Judge_btn_active.png" alt="" class="knight-btn-active">
                        </div>
                    </a>
                </div>

            </div>
        </section>

        <!-- video -->
        <section id="video">
            <img src="img/game_info_dec.png" alt="" class="deco001">
            <img src="img/game_info_dec002.png" alt="" class="deco002">
            <div class="container">
                <div class="v-tc-wrapper">
                    <div class="tc-title">
                        <img src="img/game_info_title.png" alt="">
                    </div>
                    <div class="v-nav-tab">
                        <a href="#!" @click="changeTC" data-to="ft">
                            <div class="tab-link active">遊戲影片</div>
                        </a>
                        <a href="#!" @click="changeTC" data-to="gp">
                            <div class="tab-link">遊戲畫面</div>
                        </a>
                    </div>
                    <div class="v-tab-content">
                        <div class="v-item-frame">
                            <div class="v-carousel owl-carousel owl-theme" id="v-part" v-show="vShow == 'ft'">
                                <div class="v-item">
                                    <div class="v-item-wrap">
                                        <iframe src="https://www.youtube.com/embed/dMmnyhFjDtY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="v-item">
                                    <div class="v-item-wrap">
                                        <iframe src="https://www.youtube.com/embed/dMmnyhFjDtY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="v-item">
                                    <div class="v-item-wrap">
                                        <iframe src="https://www.youtube.com/embed/dMmnyhFjDtY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="v-item">
                                    <div class="v-item-wrap">
                                        <iframe src="https://www.youtube.com/embed/dMmnyhFjDtY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="v-item">
                                    <div class="v-item-wrap">
                                        <iframe src="https://www.youtube.com/embed/dMmnyhFjDtY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="pic-carousel owl-carousel owl-theme" id="p-part" v-show="vShow == 'gp'">
                                <div class="v-item">
                                    <div class="v-item-wrap">
                                        <img src="img/1200x675_01.jpg" alt="">
                                    </div>
                                </div>
                                <div class="v-item">
                                    <div class="v-item-wrap">
                                        <img src="img/1200x675_02.jpg" alt="">
                                    </div>
                                </div>
                                <div class="v-item">
                                    <div class="v-item-wrap">
                                        <img src="img/1200x675_03.jpg" alt="">
                                    </div>
                                </div>
                                <div class="v-item">
                                    <div class="v-item-wrap">
                                        <img src="img/1200x675_04.jpg" alt="">
                                    </div>
                                </div>
                                <div class="v-item">
                                    <div class="v-item-wrap">
                                        <img src="img/1200x675_05.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- suge -->
        <section id="suge">
            <div class="container">
                <div class="ms-wrap">
                    <div class="m">相容配備</div>
                    <div class="divi"></div>
                    <div class="s l">智慧型手機或平版電腦 <br> iOS手機-iPhone4S以上機型 <br> Android-CPU:1.2Ghz，內存1.5GB以上的機型
                    </div>
                </div>
                <div class="ms-wrap">
                    <div class="m">作業系統</div>
                    <div class="divi"></div>
                    <div class="s">Android4.2以上/iOS6.0以上</div>
                </div>
                <div class="ms-wrap">
                    <div class="m">網路連線</div>
                    <div class="divi"></div>
                    <div class="s l">3G/WiFi，建議開啟WiFi連線可獲得遊戲最佳體驗狀態</div>
                </div>
                <div class="f-links">
                    <a href="#!">
                        <div class="link">關於我們</div>
                    </a>
                    <div class="divi"></div>
                    <a href="#!">
                        <div class="link">服務條款</div>
                    </a>
                    <div class="divi"></div>
                    <a href="#!">
                        <div class="link">異業合作</div>
                    </a>
                    <div class="divi"></div>
                    <a href="#!">
                        <div class="link">艾肯徵才</div>
                    </a>
                </div>
            </div>
        </section>



    </div>
    <!--script-->
    <script src="//event.icantw.com/art/js/jquery-min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//event.icantw.com/art/js/awesome/awesome.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simplebar@2.4.3/dist/simplebar.min.js"></script>
    <script src="//event.icantw.com/art/js/wow/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="footer/footer.js"></script>

    <!-- Vue.js 掛載點 -->
    <script>
        new Vue({
            el: '#app',
            data: {

                /* 消息種類 */
                tcs: [{
                    type: 'news',
                }, {
                    type: 'sys',
                }, {
                    type: 'act',
                }, ],

                /* 消息資料 */
                nss: [{
                    type: ['news'],
                    typeName: 'img/news_i.png',
                    title: '新聞公告標題，至少要保留36個字元。新聞公告標題，至少要保留36個字元。',
                    time: '2020.02.02',
                    popu: 200,
                }, {
                    type: ['sys'],
                    typeName: 'img/sys_i.png',
                    title: '系統公告標題，至少要保留36個字元。',
                    time: '2020.02.02',
                    popu: 200,
                }, {
                    type: ['act'],
                    typeName: 'img/act_i.png',
                    title: '活動公告標題，至少要保留36個字元。',
                    time: '2020.02.02',
                    popu: 200,
                }, {
                    type: ['news'],
                    typeName: 'img/news_i.png',
                    title: '新聞公告標題，至少要保留36個字元。',
                    time: '2020.02.02',
                    popu: 200,
                }, {
                    type: ['sys'],
                    typeName: 'img/sys_i.png',
                    title: '系統公告標題，至少要保留36個字元。',
                    time: '2020.02.02',
                    popu: 200,
                }, {
                    type: ['act'],
                    typeName: 'img/act_i.png',
                    title: '活動公告標題，至少要保留36個字元。',
                    time: '2020.02.02',
                    popu: 200,
                }, {
                    type: ['news'],
                    typeName: 'img/news_i.png',
                    title: '新聞公告標題，至少要保留36個字元。',
                    time: '2020.02.02',
                    popu: 50,
                }, {
                    type: ['sys'],
                    typeName: 'img/sys_i.png',
                    title: '系統公告標題，至少要保留36個字元。',
                    time: '2020.02.02',
                    popu: 50,
                }, {
                    type: ['act'],
                    typeName: 'img/act_i.png',
                    title: '活動公告標題，至少要保留36個字元。',
                    time: '2020.02.02',
                    popu: 50,
                }, ],

                /* 消息顯示Switcher */
                tcShow: 'hot',
                crrShow: 'knight',
                vShow: 'ft',

                /* 職業資料 */
                crrs: [{
                    type: 'knight',
                    name: '騎士',
                    titleImage: 'img/knight_name.png',
                    intro: `近戰，傷害輸出，劍士擁有狂風一般快速和凌厲的劍法，在競技場中更是令治療和法師聞風喪膽。`,
                    img: 'img/knight.png',
                }, {
                    type: 'mage',
                    name: '法師',
                    titleImage: 'img/mage_name.png',
                    intro: '拿大杖杖的魔法師。',
                    img: 'img/mage.png',
                }, {
                    type: 'judge',
                    name: '審判者',
                    titleImage: 'img/judge_name.png',
                    intro: '拿另一種大刀刀的勇者。',
                    img: 'img/judge.png',
                }, {
                    type: 'god',
                    name: '神使',
                    titleImage: 'img/priest_name.png',
                    intro: '拿大魔法棒的奶媽。',
                    img: 'img/priest.png',
                }, {
                    type: 'archer',
                    name: '遊俠',
                    titleImage: 'img/archer_name.png',
                    intro: `近戰，傷害輸出，劍士擁有狂風一般快速和凌厲的劍法，在競技場中更是令治療和法師聞風喪膽。`,
                    img: 'img/archer.png',
                }, ],

                /* 影片資料 */
                vs: [{
                    type: 'ft',
                    videos: [{
                        src: 'https://www.youtube.com/embed/dMmnyhFjDtY'
                    }, {
                        src: 'https://www.youtube.com/embed/dMmnyhFjDtY'
                    }],
                }, {
                    type: 'gp',
                    videos: [{
                        img: 'img/1200x675_01.jpg'
                    }, {
                        img: 'img/1200x675_02.jpg'
                    }, {
                        img: 'img/1200x675_03.jpg'
                    }, {
                        img: 'img/1200x675_04.jpg'
                    }, {
                        img: 'img/1200x675_05.jpg'
                    }],
                }, ],

            },
            methods: {
                changeCRR(e) {
                    let c = $(e.currentTarget).attr('data-to');
                    console.log(c);
                    this.crrShow = c;
                    $(e.currentTarget).children().children('.knight-btn-active').addClass('active');
                    $(e.currentTarget).siblings().children().children('.knight-btn-active').removeClass(
                        'active');
                    $('.crr-item').css({
                        'opacity': '0',
                        'left': '-5vw',
                    });
                    setTimeout(function() {
                        $('.crr-item').animate({
                            'opacity': '1',
                            'left': '0vw',
                        }, 800)
                    }, 50)
                },
                changeTC(e) {
                    let c = $(e.currentTarget).attr('data-to');
                    this.vShow = c;
                    console.log(this.vShow)
                    $(e.currentTarget).children().addClass('active');
                    $(e.currentTarget).siblings().children().removeClass('active');

                },
                navOpen() {
                    $('.nav-links').slideToggle();
                }
            },
            mounted() {
                $(document).ready(function() {
                    new WOW().init();
                    $('.pic-carousel, .v-carousel, .bn-carousel').owlCarousel({
                        center: true,
                        items: 1,
                        loop: true,
                        margin: 0,
                        autoplay: true,
                        autoplayTimeout: 5000,
                        autoplayHoverPause: true,
                        nav: true,
                        navText: ["<img src='img/prev.png'>", "<img src='img/nxt.png'>"]
                            // autoWidth: true,
                    });
                    $(window).resize(function() {
                        if ($(window).width() > 768) {
                            $('.nav-links').css({
                                'display': 'flex',
                            })
                            $('.ham').attr('class', 'ham hamRotate ham1');
                        } else {
                            $('.nav-links').css({
                                'display': 'block',
                            })

                            $('.nav-links').hide();
                        };
                    })
                })

            }
        });
    </script>

    <!-- JQ 掛載點 -->
    <script>
        $(document).ready(function() {


        });
    </script>

</body>

</html>